{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Bem-Vindo {{ user.username }}!
  <table>
    <tr>
      <td>
        <form action="{{ request.build_absolute_uri }}upload/" method="POST" enctype="multipart/form-data">
          <input type="file" name="file"/>
          <br />
          <input type="submit" value="Upload File" />
        </form>
      </td>
    </tr>
  </table>
  <p><a href="{% url 'logout' %}">logout</a></p>
  <form enctype="multipart/form-data" action="" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
  </form>
{% else %}
  <p>Usuário não está logado</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}